<!DOCTYPE html>
<head>
    <title>Success</title>
    <style>
         .multicolortext {
        background-image: linear-gradient(to left, rgb(189, 45, 145), indigo,  violet,indigo, violet,rgb(189, 45, 145) );
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
      }
      
    </style>
</head>
<body>
   
    <h1 style="text-align: center; font-size: 250%;" > <span class="multicolortext"> <br> Data Submitted successfully!</span> </h1> 
</body>